asgiref==3.2.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
Django==3.0.5
django-crispy-forms==1.9.0
django-extensions==2.2.9
django-phone-field==1.8.0
idna==2.9
psycopg2==2.8.5
pycparser==2.20
PyJWT==1.7.1
pyOpenSSL==19.1.0
PySocks==1.7.1
pytz==2020.1
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
twilio==6.7.0
urllib3==1.25.9
Werkzeug==1.0.1
zipcodes==1.1.0
